section.about
	.container
		h2.title
			span.title-black about 
			span.title-red creativia
		.about__statement Lorem ipsum dolor sit amet, consectetur #[span.paragraph--red adipiscing elit.] Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis.
		.row
			.col-xl-6
				.about__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et dolor justo. Phasellus eu ligula ac nisl volutpat tincidunt. Vestibulum vitae rhoncus odio Fusce sed enim erat. Mauris dictum lorem eu tortor porta placerat. Suspendisse ac vestibulum eros. Nulla mi ipsum, consequat commodo condimentum vitae,
				.accordion
					.accordion__item.accordion__item--active
						h3.accordion__title Hwo is creativia
						p.accordion__content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et dolor justo. Phasellus eu ligula ac nisl volutpat tincidunt. Vestibulum vitae rhoncus odio Fusce sed enim erat. Mauris dictum lorem eu tortor porta placerat. Suspendisse ac vestibulum eros.
					.accordion__item
						h3.accordion__title Experiences
						p.accordion__content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et dolor justo. Phasellus eu ligula ac nisl volutpat tincidunt. Vestibulum vitae rhoncus odio Fusce sed enim erat. Mauris dictum lorem eu tortor porta placerat. Suspendisse ac vestibulum eros.
					.accordion__item
						h3.accordion__title Learn more
						p.accordion__content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et dolor justo. Phasellus eu ligula ac nisl volutpat tincidunt. Vestibulum vitae rhoncus odio Fusce sed enim erat. Mauris dictum lorem eu tortor porta placerat. Suspendisse ac vestibulum eros.
			.col-xl-6.about-photos
				.about__image
					img(src="img/about-left.png", alt="about")
					img(src="img/about-center.png", alt="about")
					img(src="img/about-right.png", alt="about")
		.scrollbar
		.row.about-cards
			.col-xl-3
				.about-card
					img.about-card__icon
					h4.about-card__title
					p.about-card__content