.bestseller
	.container
		h2.title.mb-40
			span.title--black Plans 
			span.title--red Bestseller
		.paragraph.mb-95 Lorem ipsum dolor sit amet, consectetur #[span.paragraph--red adipiscing elit.] Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis.