.blog
	.container
		h2.title.mb-40
			span.title--black our 
			span.title--red Blog
		.paragraph.mb-95.t-center Lorem ipsum dolor sit amet, consectetur #[span.paragraph--red adipiscing elit.] Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis.
		.row
			.blog-card
				.row
					img(src="img/posts/post-one.jpg", alt="post-one").col-xl-4.offset-xl-1.blog-card__image
					.col-xl-6.blog-card__content
						h4.blog-card__title Lorem ipsum dolor sit amet, consectetur
						.blog-card__notifications
							a(href="#").blog-card__notification.blog-card__notification__admin admin
							a(href="#").blog-card__notification.blog-card__notification__comments 1205
							a(href="#").blog-card__notification.blog-card__notification__views 1205
						.paragraph.paragraph--regular.pb-25 Integer ornare libero nisi. Duis ac magna urna. Nulla facilisi. Phasellus at ante magna. Quisque nec porta nulla. Suspendisse nec orci vel elit aliquet blandit in non orci. Vivamus posuere dui eget lacinia rutrum. Cum sociis natoque penatibus ...
						a(href="#").blog-card__button view more