.clients#clients
	.container
		.title.mb-30.mb-md-40 our 
			span.title--red clients
		.paragraph.mb-30.mb-lg-55.mb-xl-95 Lorem ipsum dolor sit amet, consectetur #[span.paragraph--red adipiscing elit.] Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis.
		.row
			.col-lg-6
				.clients__reviews.reviews
					h4.reviews__title happy clients say
					.reviews__content.owl-carousel#clientsReviewsSlider
						.reviews__item
							.reviews__text
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis.
							img(src="img/clients/amr-srour.jpg", alt="").reviews__client-photo
							.reviews__client-name amr srour
						.reviews__item
							.reviews__text
								p Office range-rover cartel sentient Legba lights rain monofilament apophenia bomb construct math-order-flow denim ablative sub-orbital.
							img(src="img/clients/sarah-doe.jpg", alt="SARAH DOE").reviews__client-photo
							.reviews__client-name SARAH DOE
						.reviews__item
							.reviews__text
								p Beef noodles jeans 8-bit fetishism vinyl carbon nodality Shibuya kanji alcohol rebar paranoid lights artisanal geodesic bicycle.
							img(src="img/clients/bruce-wayne.jpg", alt="Bruce Wayne").reviews__client-photo
							.reviews__client-name Bruce Wayne
					//- .reviews__dots
					//- 	.reviews__dot
					//- 	.reviews__dot.reviews__dot--active
					//- 	.reviews__dot
			.col-lg-6
				.clients__badges
					.row
						.col-sm-6
							.badge
								img.badge__icon(src="img/clients/badge-graphicriver.png", alt="badge-graphicriver")
								.
									graphicriver
						.col-sm-6
							.badge.mb-md-40
								img.badge__icon(src="img/clients/badge-videohive.png", alt="badge-videohive")
								.
									videohive
						.col-sm-6
							.badge
								img.badge__icon(src="img/clients/badge-photodune.png", alt="badge-photodune")
								.
									photodune
						.col-sm-6
							.badge
								img.badge__icon(src="img/clients/badge-codecanyon.png", alt="badge-codecanyon")
								.
									codecanyon
.scrollbar.scrollbar--brick