.features
	.container
		h2.title.mb-40
			span.title-black our 
			span.title-red product features
		.features__statement Lorem ipsum dolor sit amet, consectetur #[span.paragraph--red adipiscing elit.] Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis.
		.row
			.col-xl-4
				.features__options
					.features__item
						h4.features__title Unlimited Color Options
						.item-checkbox
							include ../../img/icons/hexagon-gray.svg
							<i class="item-check-mark fas fa-check"></i>
					.features__item
						h4.features__title Outstanding Support
						.item-checkbox
							include ../../img/icons/hexagon-gray.svg
							<i class="item-check-mark fas fa-check"></i>
					.features__item
						h4.features__title Retina Ready
						.item-checkbox
							include ../../img/icons/hexagon-gray.svg
							<i class="item-check-mark fas fa-check"></i>
			.col-xl-4
				.features__mockups
					img(src="img/features/phone.png", alt="phone")
			.col-xl-4
				.features__options
					.features__item.features__item--right
						h4.features__title Unlimited Color Options
						.item-checkbox
							include ../../img/icons/hexagon-gray.svg
							<i class="item-check-mark fas fa-check"></i>
					.features__item.features__item--right
						h4.features__title Outstanding Support
						.item-checkbox
							include ../../img/icons/hexagon-gray.svg
							<i class="item-check-mark fas fa-check"></i>
					.features__item.features__item--right
						h4.features__title Retina Ready
						.item-checkbox
							include ../../img/icons/hexagon-gray.svg
							<i class="item-check-mark fas fa-check"></i>