.follow
	.follow__inner
		.title.mb-40 Follow 
			span.title--red Creativia

		.social-media
			.social-media__item
				a(href="#").social-media__icon
					include ../../img/icons/hexagon-red.svg
					.social-media__emblem <i class="fab fa-facebook-f"></i><!--заменить-->
				.social-media__followers 20000

			.social-media__item
				a(href="https://twitter.com/SargeUAC" target="_blanc").social-media__icon
					include ../../img/icons/hexagon-red.svg
					.social-media__emblem <i class="fab fa-twitter"></i>
				.social-media__followers 99900

			.social-media__item
				a(href="https://www.pinterest.com/Serrjikk/" target="_blanc").social-media__icon
					include ../../img/icons/hexagon-red.svg
					.social-media__emblem <i class="fab fa-pinterest-p"></i>
				.social-media__followers 5000

			.social-media__item
				a(href="#").social-media__icon
					include ../../img/icons/hexagon-red.svg
					.social-media__emblem <i class="fab fa-google-plus-g"></i><!--заменить-->
				.social-media__followers 200

.scrollbar.scrollbar--brick