.hamburger__bg
.hamburger#hamburger
	span.hamburger__line
	span.hamburger__line
	span.hamburger__line

include _navigation-mobile.pug

header.header(id="home")
	.header__inner
		.container
			include _navigation.pug
			.title.mb-40 why 
				span.title--red creativia ?
			include _slider.pug
			.header__buttons
				a.button.mb-20.mb-480px-0(href="#!") features
				a.button.button--black.mb-20.mb-480px-0(href="#!") Free PSD