.row
	.col-xl-12
		.navigation-wrapper
			a(href="#!").logo
				img(src="img/creativia.png", alt="Creativia").logo-image
			ul.navigation
				li.navigation__item
					a(href="#1").navigation__link Home
				li.navigation__item
					a(href="#1").navigation__link about us
				li.navigation__item
					a(href="#1").navigation__link PORTFOLIO
				li.navigation__item
					a(href="#1").navigation__link clients
				li.navigation__item
					a(href="#1").navigation__link team
				li.navigation__item
					a(href="#1").navigation__link services
				li.navigation__item
					a(href="#1").navigation__link Blog
				li.navigation__item
					a(href="#1").navigation__link Contact   