//- Навигация. Мобильная навигация находится в отдельной разметке
.row.mb-145
	.col-12
		.navigation__wrapper
			a(href="#home").logo
				img(src="img/creativia.png", alt="Creativia").logo__image
			ul.navigation
				li.navigation__item
					a(href="#home").navigation__link Home
				li.navigation__item
					a(href="#about").navigation__link about us
				li.navigation__item
					a(href="#portfolio").navigation__link PORTFOLIO
				li.navigation__item
					a(href="#clients").navigation__link clients
				li.navigation__item
					a(href="#teamwork").navigation__link team
				li.navigation__item
					a(href="#services").navigation__link services
				li.navigation__item
					a(href="#blog").navigation__link Blog
				li.navigation__item
					a(href="#find").navigation__link Contact
