.row
	.col-xl-12
		.navigation-wrapper
			.logo
				img(src="img/creativia.png", alt="Creativia").logo-title
			ul.navigation
				li.navigation__item
					a.navigation__link Home
				li.navigation__item
					a.navigation__link about us
				li.navigation__item
					a.navigation__link PORTFOLIO
				li.navigation__item
					a.navigation__link clients
				li.navigation__item
					a.navigation__link team
				li.navigation__item
					a.navigation__link services
				li.navigation__item
					a.navigation__link Blog
				li.navigation__item
					a.navigation__link Contact   