.navigation.navigation--mobile
	ul.navigation__inner
		li.navigation__item.navigation__item--mobile
			a(href="#home").navigation__link.navigation__link--mobile Home
		li.navigation__item.navigation__item--mobile
			a(href="#about").navigation__link.navigation__link--mobile about us
		li.navigation__item.navigation__item--mobile
			a(href="#portfolio").navigation__link.navigation__link--mobile PORTFOLIO
		li.navigation__item.navigation__item--mobile
			a(href="#clients").navigation__link.navigation__link--mobile clients
		li.navigation__item.navigation__item--mobile
			a(href="#teamwork").navigation__link.navigation__link--mobile team
		li.navigation__item.navigation__item--mobile
			a(href="#services").navigation__link.navigation__link--mobile services
		li.navigation__item.navigation__item--mobile
			a(href="#blog").navigation__link.navigation__link--mobile Blog
		li.navigation__item.navigation__item--mobile
			a(href="#find").navigation__link.navigation__link--mobile Contact