section.portfolio#portfolio
	.title.mb-20 portfolio
	ul.portfolio__filter
		li.portfolio__category.portfolio__category--active.filter(data-filter="all") All
		li.portfolio__category.filter(data-filter=".illustration") Illustration
		li.portfolio__category.filter(data-filter=".digitalArt") Digital Art
		li.portfolio__category.filter(data-filter=".webDesign") Web design
	.portfolio__wrapper#portfolio-projects
		.portfolio__item.portfolio__item--wide.portfolio__item--jaffa.mix.illustration.webDesign
			img(src="img/portfolio/money.jpg", alt="money")
			a.portfolio__item--hover(href="#!")
				.portfolio__plus
					i.fas.fa-plus
				span design name
		.portfolio__item.portfolio__item--astral.mix.digitalArt
			img(src="img/portfolio/bank.jpg", alt="bank")
			a.portfolio__item--hover(href="#!")
				.portfolio__plus
					i.fas.fa-plus
				span design name
		.portfolio__item.portfolio__item--wide.portfolio__item--french-rose.mix.illustration.webDesign
			img(src="img/portfolio/plant.jpg", alt="plant")
			a.portfolio__item--hover(href="#!")
				.portfolio__plus
					i.fas.fa-plus
				span design name
		.portfolio__item.portfolio__item--quarter-spanish-white.mix.digitalArt
			img(src="img/portfolio/cards.jpg", alt="cards")
			a.portfolio__item--hover(href="#!")
				.portfolio__plus
					i.fas.fa-plus
				span design name
		.portfolio__item.portfolio__item--emerald.mix.illustration
			img(src="img/portfolio/calculator.jpg", alt="calculator")
			a.portfolio__item--hover(href="#!")
				.portfolio__plus
					i.fas.fa-plus
				span design name
		.portfolio__item.portfolio__item--wide.portfolio__item--pewter.mix.digitalArt.webDesign
			img(src="img/portfolio/converter.jpg", alt="converter")
			a.portfolio__item--hover(href="#!")
				.portfolio__plus
					i.fas.fa-plus
				span design name
		.portfolio__item.portfolio__item--java.mix.illustration.webDesign
			img(src="img/portfolio/wallet.jpg", alt="wallet")
			a.portfolio__item--hover(href="#!")
				.portfolio__plus
					i.fas.fa-plus
				span design name
		.portfolio__item.portfolio__item--wide.portfolio__item--salmon.mix.digitalArt
			img(src="img/portfolio/voucher.jpg", alt="voucher")
			a.portfolio__item--hover(href="#!")
				.portfolio__plus
					i.fas.fa-plus
				span design name
.scrollbar.scrollbar--brick