section.portfolio
	.title.mb-20 portfolio
	.portfolio__filter
		a.portfolio__category(href="#!") All
		a.portfolio__category(href="#!") Illustration
		a.portfolio__category(href="#!") Digital Art
		a.portfolio__category(href="#!") Web design
	.portfolio-wrapper
		.portfolio__item.portfolio__item--wide
			img(src="img/portfolio/money.png", alt="money")
		.portfolio__item
		.portfolio__item.portfolio__item--wide
		.portfolio__item
		.portfolio__item
		.portfolio__item.portfolio__item--wide
		.portfolio__item
		.portfolio__item.portfolio__item--wide