section.portfolio
	.title.mb-20 portfolio
	.portfolio__filter
		a.portfolio__category(href="#!") All
		a.portfolio__category(href="#!") Illustration
		a.portfolio__category(href="#!") Digital Art
		a.portfolio__category(href="#!") Web design
	.portfolio-wrapper
		.portfolio__item.portfolio__item--wide
			img(src="img/portfolio/money.jpg", alt="money")
			a.portfolio__item--hover(href="#!")
				.portfolio__plus
					i.fas.fa-plus
				span design name
		.portfolio__item
			img(src="img/portfolio/bank.jpg", alt="bank")
			a.portfolio__item--hover(href="#!")
				.portfolio__plus
					i.fas.fa-plus
				span design name
		.portfolio__item.portfolio__item--wide
			img(src="img/portfolio/plant.jpg", alt="plant")
			a.portfolio__item--hover(href="#!")
				.portfolio__plus
					i.fas.fa-plus
				span design name
		.portfolio__item
			img(src="img/portfolio/cards.jpg", alt="cards")
			a.portfolio__item--hover(href="#!")
				.portfolio__plus
					i.fas.fa-plus
				span design name
		.portfolio__item
			img(src="img/portfolio/calculator.jpg", alt="calculator")
			a.portfolio__item--hover(href="#!")
				.portfolio__plus
					i.fas.fa-plus
				span design name
		.portfolio__item.portfolio__item--wide
			img(src="img/portfolio/converter.jpg", alt="converter")
			a.portfolio__item--hover(href="#!")
				.portfolio__plus
					i.fas.fa-plus
				span design name
		.portfolio__item
			img(src="img/portfolio/wallet.jpg", alt="wallet")
			a.portfolio__item--hover(href="#!")
				.portfolio__plus
					i.fas.fa-plus
				span design name
		.portfolio__item.portfolio__item--wide
			img(src="img/portfolio/voucher.jpg", alt="voucher")
			a.portfolio__item--hover(href="#!")
				.portfolio__plus
					i.fas.fa-plus
				span design name
.scrollbar.scrollbar--brick