section.portfolio#portfolio
	.title.mb-20 portfolio
	ul.portfolio__filter
		li.portfolio__category.portfolio__category--active.filter(data-filter="all") All
		li.portfolio__category.filter(data-filter=".illustration") Illustration
		li.portfolio__category.filter(data-filter=".digitalArt") Digital Art
		li.portfolio__category.filter(data-filter=".webDesign") Web design
	.portfolio__wrapper#portfolio-projects
		+portfolioItem('money.jpg', '#', 'design name')(class="portfolio__item--wide portfolio__item--jaffa mix illustration webDesign")
		+portfolioItem('bank.jpg', '#', 'design name')(class="portfolio__item--astral mix digitalArt")
		+portfolioItem('plant.jpg', '#', 'design name')(class="portfolio__item--wide portfolio__item--french-rose mix illustration webDesign")
		+portfolioItem('cards.jpg', '#', 'design name')(class="portfolio__item--quarter-spanish-white mix digitalArt")
		+portfolioItem('calculator.jpg', '#', 'design name')(class="portfolio__item--emerald mix illustration")
		+portfolioItem('converter.jpg', '#', 'design name')(class="portfolio__item--wide portfolio__item--pewter mix digitalArt webDesign")
		+portfolioItem('wallet.jpg', '#', 'design name')(class="portfolio__item--java mix illustration webDesign")
		+portfolioItem('voucher.jpg', '#', 'design name')(class="portfolio__item--wide portfolio__item--salmon mix digitalArt")
.scrollbar.scrollbar--brick