.prices
	.container
		h2.title.mb-30.mb-md-40
			span.title--black Plans 
			span.title--red Bestseller
		.paragraph.mb-30.mb-lg-55.mb-xl-95 Lorem ipsum dolor sit amet, consectetur #[span.paragraph--red adipiscing elit.] Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis.
		.row.offers
			.col-sm-6.col-lg-3.mb-30.mb-lg-0.offer
				.offer__title Reseller
				.offer__price 199$
					span year
				.offer__description CPU E3-1230 3.3GHz 8MB-V2
				.offer__description HARD 500GB SATA 7200 RPM
				.offer__description RAM 8GB DDR3 1333MHZ ECC
				.offer__description Traffic 10 TB
				.offer__description Connection 100 MB
				.offer__description 5IP
				.offer__button-wrapper
					a(href="#!").offer__button Order now
			.col-sm-6.col-lg-3.mb-30.mb-lg-0.offer
				.offer__title Reseller
				.offer__price 199$
					span year
				.offer__description CPU E3-1230 3.3GHz 8MB-V2
				.offer__description HARD 500GB SATA 7200 RPM
				.offer__description RAM 8GB DDR3 1333MHZ ECC
				.offer__description Traffic 10 TB
				.offer__description Connection 100 MB
				.offer__description 5IP
				.offer__button-wrapper
					a(href="#!").offer__button Order now
			.col-sm-6.col-lg-3.offer
				.offer__title Reseller
				.offer__price 199$
					span year
				.offer__description CPU E3-1230 3.3GHz 8MB-V2
				.offer__description HARD 500GB SATA 7200 RPM
				.offer__description RAM 8GB DDR3 1333MHZ ECC
				.offer__description Traffic 10 TB
				.offer__description Connection 100 MB
				.offer__description 5IP
				.offer__button-wrapper
					a(href="#!").offer__button Order now
			.col-sm-6.col-lg-3.offer
				.offer__title Reseller
				.offer__price 199$
					span year
				.offer__description CPU E3-1230 3.3GHz 8MB-V2
				.offer__description HARD 500GB SATA 7200 RPM
				.offer__description RAM 8GB DDR3 1333MHZ ECC
				.offer__description Traffic 10 TB
				.offer__description Connection 100 MB
				.offer__description 5IP
				.offer__button-wrapper
					a(href="#!").offer__button Order now