.services#services
	.container
		h2.title.mb-30.mb-md-40 our 
			span.title--red services
		.paragraph.paragraph--regular.paragraph--light-gray.mb-30.mb-lg-55.mb-xl-95 Lorem ipsum dolor sit amet, consectetur #[span.paragraph--red adipiscing elit.] Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis.
		.row
			.col-sm-6.col-xl-6.service-card.mb-40.mb-lg-55
				.service-card__head
					.service-card__icon
						include ../../img/icons/hexagon-gray.svg
						.service-card__emblem <i class="fas fa-code"></i>
					.service-card__title development
				.service-card__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna Dapibus egestas in turpis and Praesent faucibus nisl sit amet nulla sollicitudin.
			.col-sm-6.col-xl-6.service-card.mb-40.mb-lg-55
				.service-card__head
					.service-card__icon
						include ../../img/icons/hexagon-gray.svg
						.service-card__emblem <i class="fab fa-wordpress-simple"></i>
					.service-card__title Wordpress
				.service-card__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna Dapibus egestas in turpis and Praesent faucibus nisl sit amet nulla sollicitudin.
			.col-sm-6.col-xl-6.service-card.mb-40.mb-lg-55
				.service-card__head
					.service-card__icon
						include ../../img/icons/hexagon-gray.svg
						.service-card__emblem <i class="fas fa-pencil-alt"></i>
					.service-card__title ui / ux design
				.service-card__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna Dapibus egestas in turpis and Praesent faucibus nisl sit amet nulla sollicitudin.
			.col-sm-6.col-xl-6.service-card.mb-40.mb-lg-55
				.service-card__head
					.service-card__icon
						include ../../img/icons/hexagon-gray.svg
						.service-card__emblem <i class="fab fa-html5"></i>
					.service-card__title HTML / CSS
				.service-card__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna Dapibus egestas in turpis and Praesent faucibus nisl sit amet nulla sollicitudin.
			.col-sm-6.col-xl-6.service-card
				.service-card__head
					.service-card__icon
						include ../../img/icons/hexagon-gray.svg
						.service-card__emblem <i class="fas fa-tablet-alt"></i>
					.service-card__title Applications
				.service-card__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna Dapibus egestas in turpis and Praesent faucibus nisl sit amet nulla sollicitudin.
			.col-sm-6.col-xl-6.service-card
				.service-card__head
					.service-card__icon
						include ../../img/icons/hexagon-gray.svg
						.service-card__emblem <i class="fas fa-laptop"></i>
					.service-card__title Responsive layout
				.service-card__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna Dapibus egestas in turpis and Praesent faucibus nisl sit amet nulla sollicitudin.
.scrollbar.scrollbar--brick