.slider
	.slider__content.owl-carousel#headerSlider
		.slider__description
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et dolor justo. Phasellus eu ligula ac nisl volutpat tincidunt. Vestibulum vitae rhoncus odio Fusce sed enim erat. Mauris dictum lorem eu tortor porta placerat. Suspendisse ac vestibulum eros. Nulla mi ipsum, consequat commodo condimentum vitae,
		.slider__description
			p Facilis corporis ut, accusantium esse id odio exercitationem in error aspernatur modi sequi sint, maxime cumque facere. Ipsa itaque, totam nihil non sit culpa hic assumenda ipsam?
			p Autem dolorum quia delectus, ut dignissimos harum provident assumenda, sint adipisci eum? Modi repudiandae aut deleniti consequuntur magnam nobis dolorum quae?
		.slider__description
			p Autem dolorum quia delectus, fuga assumenda ducimus aspernatur tempora, rem quia nihil perferendis earum excepturi vero laborum atque. Culpa, quaerat atque ad incidunt! Saepe quaerat ipsum velit!
			p Facilis aliquid quam impedit alias aut obcaecati esse ea amet, praesentium expedita hic at vero earum possimus deserunt ut dignissimos harum provident assumenda, sint adipisci eum?
		.slider__description
			| Receding cyber-engine wristwatch towards realism meta-physical range-rover tattoo shoes youtube sunglasses silent otaku. Girl Chiba 3D-printed nodal point DIY footage realism sign face forwards. Plastic fetishism media bridge denim modem 8-bit camera 3D-printed dissident courier disposable. A.I. alcohol ablative jeans footage marketing refrigerator.
		.slider__description
			| San Francisco towards soul-delay 8-bit knife hacker dead camera range-rover tower math. Cyber-towards weathered-space into concrete dolphin industrial grade. Shanty town computer corporation denim physical point decay film. Sub-orbital bomb footage fluidity crypto-hacker franchise render-farm free-market dissident advert camera skyscraper engine San Francisco military-grade. 
		.slider__description
			| Corrupted military-grade industrial grade alcohol lights A.I. camera j-pop voodoo god beef noodles pen nodal point motion. Systema urban vinyl film artisanal Chiba smart-sensory neon DIY towards voodoo god plastic cyber-denim alcohol military-grade. Nodal point render-farm courier face forwards Tokyo hacker youtube drugs drone shrine. 

	button.slider__arrow.slider__arrow--left#headerSliderLeft <i class="fas fa-angle-left"></i>
	button.slider__arrow.slider__arrow--right#headerSliderRight <i class="fas fa-angle-right"></i>