.tweets
	.tweets-background
		.container
			img(src="img/icons/twitter-icon.svg", alt="twitter-icon").tweet__icon
			.row
				.col-xl-8.offset-xl-2.last-tweets
					//- .tweet__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis.
					.tweet__text Сервис микроблогов Twitter удвоил максимальную длину сообщения — до 280 символов. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit na.
.scrollbar.scrollbar--brick