.tweet
	.tweet__wrapper
		.container
			img(src="img/icons/twitter-icon.svg", alt="twitter-icon").tweet__icon
			.row
				.col-sm-10.offset-sm-1.col-md-8.offset-md-2.tweet__text
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis. 
.scrollbar.scrollbar--brick