<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Creativia

	link(rel="stylesheet", href="fonts/lato/stylesheet.css")
	link(rel="stylesheet", href="fonts/raleway/stylesheet.css")
	link(rel="stylesheet", href="fonts/mg-open-modata/stylesheet.css")
	link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.8.1/css/all.css", integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf", crossorigin="anonymous")
	link(rel="stylesheet", href="libs/normalize-css/normalize.css")
	link(rel="stylesheet", href="libs/bootstrap-4-grid/grid.min.css")
	link(rel="stylesheet", href="css/main.css")
body
	//- Raleway - regular, medium, semibold, bold
	//- Lato  - light, regular, bold, black
	//- MgOpenModata - regular

	include mixins/_about-card.pug
	include blocks/_header.pug
	include blocks/_about.pug
	include blocks/_portfolio.pug
	include blocks/_features.pug
	include blocks/_clients.pug
	include blocks/_teamwork.pug