<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Creativia

	link(rel="stylesheet", href="fonts/lato/stylesheet.css")
	link(rel="stylesheet", href="fonts/raleway/stylesheet.css")
	link(rel="stylesheet", href="fonts/mg-open-modata/stylesheet.css")
	link(rel="stylesheet", href="libs/normalize-css/normalize.css")
	link(rel="stylesheet", href="libs/bootstrap-4-grid/grid.min.css")
	link(rel="stylesheet", href="css/main.css")
body
	//- Raleway - regular, medium, semibold, bold
	//- Lato  - light, regular, bold, black
	//- MgOpenModata - regular

	include blocks/_header.pug
	include blocks/_about.pug
