.about {
	padding-top: 100px;
	padding-bottom: 80px;
	text-align: center;
}

.about__statement {
	margin-bottom: 90px;
	.paragraph;
}

.about__description {
	.paragraph;
	.paragraph--regular;
	margin-bottom: 40px;
}

.accordion {
	text-align: left;
}

.accordion__item {
	margin-bottom: 9px;
	
	&:last-child {
		margin-bottom: 0;
	}
}

.accordion__item--active .accordion__title {
	color: #ff0036;

	&:before {
		content: url('../img/icons/accordion-item-active.svg');
	}
}

.accordion__title {
	position: relative;
	border-style: solid;
	border-width: 1px;
	border-color: #e7e7e7;
	background-color: #f7f7f7;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	line-height: 1.2;
	font-weight: 500;
	color: #262626;
	padding: 13px 30px 13px 90px;
	cursor: pointer;
	
	&:before {
		position: absolute;
		display: block;
		left: 21px;
		top: 14px;
		content: url('../img/icons/accordion-item.svg');
		width: 18px;
		height: 18px;
	}

	&:after {
		position: absolute;
		left: 60px;
		top: 0;
		content: "";
		display: block;
		width: 1px;
		height: 100%;
		background-color: #e7e7e7;
	}
}

.accordion__content {
	display: none;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(231, 231, 231);
	background-color: rgb(255, 255, 255);
	padding: 15px 16px 8px;
	.paragraph;
	.paragraph--14;
	.paragraph--regular;
}

.accordion__item--active .accordion__content {
	display: block;
}

.about-photos {
	width: 100%;
	height: 360px;
	
	background-image: url("../img/about-center.png"), 
					url("../img/about-right.png"),
					url("../img/about-left.png");
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: center center, right center, left center;
	background-size: auto, auto, auto;
}

.about-card {
	width: 100%;
	height: 300px;
	background-color: #ffe4c4;
	padding: 6px;
}

.about-card__icon {
	width: 41px;
	height: 76px;
	background-color: #ff0036;
	border: none;
	border-top: 1px solid #262626;
	border-bottom: 1px solid #262626;
	transform: rotate(120deg);
}

.about-card__icon-layer-1 {
	width: 100%;
	height: 100%;
	background-color: #ff0036;
	border: inherit;
	transform: rotate(-60deg);
}

.about-card__icon-layer-2 {
	width: 100%;
	height: 100%;
	background-color: #ff0036;
	border: inherit;
	transform: rotate(-60deg);
}

.about-card__title {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	line-height: 1.2;
	font-weight: 500;
	color: #262626;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
}

.about-card__content {
	.paragraph;
	.paragraph--regular;
}