* {
	box-sizing: border-box;
} 

// Container size fix
@media (min-width: 576px) { .container { max-width: 570px; }
}
@media (min-width: 768px) { .container { max-width: 750px; }
}
@media (min-width: 992px) { .container { max-width: 990px; }
}
@media (min-width: 1200px) { .container { max-width: 1170px; }
}
// - // Container size fix

img {
	max-width: 100%;
	display: block;
}

h1, h2, h3, h4, a {
	margin: 0;
	padding: 0;
	line-height: 1;
} 

p {
	margin: 0;
	padding: 0;
	line-height: 1.3;
}

.t-center {
	text-align: center;
}

.paragraph {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 1.38;
	font-weight: bold;
	color: #505050;
}

.paragraph--red {
	color: #FF0036;
}

.paragraph--light-gray {
	color: #a4a4a4;
}

.paragraph--regular {
	font-weight: normal;
}

.paragraph--14 {
	font-size: 14px;
	line-height: 1.571;
}

.pl-0 { padding-left: 0 !important; }

.pr-0 { padding-right: 0 !important; }

.pb-25 { padding-bottom: 25px !important; }


.mb-15 { margin-bottom: 15px !important; }
.mb-17 { margin-bottom: 17px !important; }
.mb-20 { margin-bottom: 20px !important; }
.mb-21 { margin-bottom: 21px !important; }
.mb-40 { margin-bottom: 40px !important; }
.mb-95 { margin-bottom: 95px !important; }
.mb-100 { margin-bottom: 100px !important; }
.mb-110 { margin-bottom: 110px !important; }

.title {
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	color: #fff;
	font-weight: bold;
	line-height: 1.2;
	text-align: center;
}

.title--red {
	color: #FF0036;
}

.title--black {
	color: #262626;
}

.scrollbar {
	position: relative;
	width: 515px;
	height: 1px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	background-color: #262626;
	
	&:before {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		display: block;
		content: url('../img/icons/hexagon.svg');
		width: 21px;
		height: 19px;
	}
}

.scrollbar--brick {
	background-color: #ff0036;
	
	&:before {
		content: url('../img/icons/hexagon-brick.svg');
	}
}

.hidden {
	display: none !important;
}