.clients {
	height: 652px;
	padding-top: 90px;
	padding-bottom: 100px;
	background-image: 
	    linear-gradient(to bottom, rgba(0, 0, 0, 0.902) 0px, rgba(0, 0, 0, 0.902) 100%),
	    url("../img/bg/clients.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgba(0, 0, 0, 0.902);
	text-align: center;
}

.reviews {
	height: 300px;
	background-color: #6fc;
}

.review__title {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 50px;
  // text-align: center;
}

.review__text {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.375;
  color: #a4a4a4;
  // text-align: center;
  margin-bottom: 40px;
}

.review__text p {
	margin-bottom: 20px;
}

.review__client-photo {
	// overflow: hidden;
}

.hexagon {
	position: relative;
	width: 34px;
	height: 57px;
	margin: 20px;
	background-color: #ff0036;
	border: none;
	transform: rotate(120deg);
	margin-right: auto;
	margin-left: auto;
	// overflow: hidden;
	// visibility: hidden;

}

.hexagon-layer-1 {
	width: 100%;
	height: 100%;
	background-color: #ff0036;
	border: none;
	transform: rotate(-60deg);
	// overflow: hidden;
	// visibility: hidden;
}

.hexagon-layer-2 {
	width: 100%;
	height: 100%;
	background-color: #ff0036;
	border: none;
	transform: rotate(-60deg);
	// overflow: hidden;
	// visibility: hidden;
	
	background-image: url("../img/clients/amr-srour.jpg");
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
}

// .about-card__icon img {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   -webkit-transform: translate(-50%, -50%);
//   -ms-transform: translate(-50%, -50%);
//   transform: translate(-50%, -50%);
// }