.clients {
	padding-top: 30px;
	padding-bottom: 30px;
	background-image: 
	    linear-gradient(to bottom, rgba(0, 0, 0, 0.902) 0px, rgba(0, 0, 0, 0.902) 100%),
	    url("../img/bg/clients.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgba(0, 0, 0, 0.902);
	text-align: center;
	
	@media(@large-width) {
		padding-top: 45px;
		padding-bottom: 40px;
	}

	@media(@extra-large-width) {
		padding-top: 90px;
		padding-bottom: 80px;
	}
}

.clients__reviews {
  // background-color: #6fc;
  margin-bottom: 50px;
  
  @media(@large-width) {
  	margin-bottom: 0;
  }
}
