.follow {
	position: relative;
	// height: 383px;
	// background-color: rgba(0, 0, 0, 0.9);
	background-color: #262626;
	background-image: url("../img/bg/follow-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	padding-top: 95px;
	padding-bottom: 90px;
}

.follow:before {
	// display: block;
	content: "1";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: #000;
	opacity: 0;
	transition: 0.25s ease-in;
}

.follow:hover:before {
	opacity: 0.9;
}

.follow__inner {
	position: relative;
	z-index: 3;
}