.portfolio {
	background-color: #262626;
	padding-top: 95px;
	padding-bottom: 105px;
}

.portfolio__filter {
	text-align: center;
	margin-bottom: 95px;
}

.portfolio__category {
	color: #a4a4a4;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.375;
	text-transform: uppercase;
	text-decoration: none;
	margin-right: 20px;
	
	&:last-child {
		margin-right: 0;
	}
	
	&:hover {
		color: #ff0036;
	}
}

.portfolio-wrapper {
	width: 1400px;
	margin-right: auto;
	margin-left: auto;
	background-color: #95a5a5;
	display: flex;
	flex-wrap: wrap;
}

.portfolio__item {
	width: 300px;
	height: 350px;
	vertical-align: bottom;
}

.portfolio__item img {
	margin-left: auto;
	// margin-bottom: 89px;
}

.portfolio__item--wide {
	width: 400px;
}

.portfolio__item:first-child {
	background-color: #f39943;
}

.portfolio__item:nth-child(2) {
	background-color: #3782aa;
}

.portfolio__item:nth-child(3) {
	background-color: #ef5d88;
	
}

.portfolio__item:nth-child(4) {
	background-color: #f6f0e0;
}

.portfolio__item:nth-child(5) {
	background-color: #56cc82;
}

.portfolio__item:nth-child(6) {
	background-color: #95a5a5;
}

.portfolio__item:nth-child(7) {
	background-color: #24b0c9;
}
.portfolio__item:last-child {
	background-color: #fa8562;
}