.slider {
	padding-top: 180px;
	text-align: center;
}

.slider-description {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 1.375;
	color: #fff;
	text-align: center;
	margin-bottom: 45px;
}

.slider-buttons {
	display: flex;
	flex-direction: row;
}