.tweets {
	background-color: #272727;
	height: 294px;
}

.tweets .container {
	height: 294px;
	background-color: red;
	background-image: url("../img/bg/twitter.svg");
	background-repeat: no-repeat;
	-webkit-background-size: auto;
	     -o-background-size: auto;
	        background-size: auto;
	background-position: bottom left -100px;
}

.twitter {
  background-color: rgba(255, 255, 255, 0.102);
  opacity: 0.102;
  position: absolute;
  left: 29px;
  top: 8120px;
  width: 183px;
  height: 206px;
  z-index: 164;
}
